 		<div>
					<button id="play" class="btn btn-default" (click)="playPause()">
						<span class="fa fa-play"></span>
						
					</button>
					<button id="pause" class="btn btn-default" (click)="pauseVideo()">
						<span class="fa fa-pause"></span>
					
					</button>
					<button id="volumehigh" class="btn btn-default"
						(click)="volumeIncrease()">
						<span class="fa fa-plus"></span>
					
					</button>
					<button id="volumehigh" class="btn btn-default"
						(click)="volumeDecrease()">
						<span class="fa fa-minus"></span>
					
					</button>
					<button id="reloadPage" class="btn btn-default"
						(click)="reloadVideo()">
						<span class="fa fa-stop"></span>
					
					</button>
					<button id="muteVideo" class="btn btn-default"
						(click)="mutedVideo()">
						<span class="fa fa-headphones"></span>
						
					</button>
					<button id="likeVideo" class="btn btn-default"
						(click)="likeVideo()">
						<span class="fa fa-thumbs-o-up"></span>
					
						<label id="likebutton"></label>
					</button>
					<button id="unlikeVideo" class="btn btn-default"
						(click)="unlikeVideo()">
						<span class="fa fa-thumbs-o-down"></span>
					
						<label id="unlikebutton"></label>
					</button>
				</div> 

 